$background: #e1e1e1;
$font: 'Roboto', sans-serif;
$header-fontsize: 2.4rem;
$tablet-header-fontsize: calc($header-fontsize * 2.2);
$react-logo-color: #61DBFB;
$small-text: 10px;
$tablet-small-text: calc($small-text * 2.2);