*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  height: 6rem;
  width: 100%;
  margin: 0.4rem auto 0.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
header h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

.react-logo {
  color: #61DBFB;
  font-size: 2.4rem;
}

main {
  height: 32rem;
}

#todo-header {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

#todo-list {
  background-color: white;
  height: 80%;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0;
  overflow-y: auto;
}

fieldset {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#input {
  padding: 0 0.5rem;
  border-radius: 5px;
}

.item-container {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
  border-bottom: 1px solid black;
  list-style-type: none;
  height: 7.5rem;
  width: 100%;
}
.item-container p {
  word-wrap: break-word;
  height: 100%;
  width: 60%;
  font-weight: 700;
  margin: 0;
  align-content: center;
  overflow-y: auto;
}
.item-container button {
  margin: 0.2rem;
}
.item-container button :hover, .item-container button :focus {
  cursor: pointer;
  border: 2px solid black;
}

#date {
  font-size: 10px;
  display: inline-block;
  text-align: right;
}

#change-input {
  width: 60%;
}

footer {
  font-size: 10px;
  text-align: center;
}
footer a {
  margin-left: 0.2rem;
}

@media (min-width: 800px) {
  .container-fluid {
    padding: 1.85rem;
  }
  header {
    height: 11rem;
    width: 100%;
    gap: 0.85rem;
  }
  header h1 {
    font-size: 4.32rem;
  }
  .react-logo {
    font-size: 4.32rem;
  }
  main {
    height: 60rem;
  }
  #todo-header {
    font-size: 2rem;
  }
  #todo-list {
    margin: 1.2rem 2.2rem 3.2rem;
  }
  fieldset {
    gap: 1.07rem;
  }
  #input {
    height: 4.2rem;
    width: 29rem;
    font-size: 1.8rem;
  }
  #submit {
    width: 10rem;
    font-size: 1.8rem;
  }
  .item-container {
    padding: 0 1rem;
    height: 12rem;
    font-size: 1.8rem;
  }
  .item-container button {
    margin: 0.43rem;
    height: 4rem;
    width: 5rem;
  }
  .item-container button svg {
    height: 25px;
    width: 42px;
  }
  #complete-btn {
    font-size: 1.2rem !important;
    line-height: 100%;
  }
  #date {
    font-size: 18px;
  }
  #change-input {
    height: 4.2rem;
    margin-right: 5rem;
  }
  footer {
    margin-top: 1rem;
    font-size: 18px;
  }
  footer a {
    margin-left: 0.43rem;
  }
}
@media (min-width: 1200px) {
  #todo-list {
    width: 40%;
    margin: 1.6rem auto 4.2rem;
  }
  main {
    height: 74rem;
  }
  .item-container {
    font-size: 2.2rem;
  }
  .item-container button {
    font-size: 2.2rem;
    margin: 2.2rem;
    height: 5.6rem;
    width: 6.9rem;
  }
  .item-container button svg {
    height: 37.5px;
    width: 63px;
  }
  .item-container #complete-btn {
    font-size: 1.8rem !important;
    line-height: 100%;
  }
  .item-container #date {
    font-weight: 700;
  }
}/*# sourceMappingURL=styles.css.map */